#autoGoButton
{
    height: 27px;
    width: 150px;
    margin-right: 2px;
    cursor: pointer;
    border: none;
    color: #58ffbb;
    float: left;
    background-image: url('https://i.imgur.com/20OoeBD.png')
}


#settingsWindow
{
    height: 311px;
    width: 558px;
    padding: 50px 30px;
    background-image: url('https://i.imgur.com/3o9UhOm.png');
    display: block;
    position: absolute;
    left: 375px;
    top: 150px;
    z-index: 999;
    color: #612d04;
    font: 600 16px Arial;
}

#settingsVersion
{
    position: absolute;
    top: 20px;
    left: 530px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 30px;
}

#settingsHeader
{
    display: block;
    padding-top: 20px;
    letter-spacing: 2px;
}

#settingsContent
{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 180px 70px;
    width: 100%;
}

.settingsHeaderBig
{
    margin: 3px 0px;
    padding: 0px 25px;
}

.settingsHeaderSmall
{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.settingsSubcontent
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0px;
    padding: 0px 25px;
}

.settingsButton
{
    border: solid 1px #e9d2a0;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin: 0px 3px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #8e753f;
    font-size: 14px;
    background: #390301;
    background: -moz-linear-gradient(top,#c3ab6f,#886933);
    background: linear-gradient(to bottom,#c3ab6f,#886933);
}

.settingsButton:hover
{
    color: #58ffbb;
    cursor: pointer;
    box-shadow: 0 0 0 1px #58ffbb;
}

.settingsActive
{
    border: solid 1px #58ffbb;
    color: #58ffbb;
    cursor: pointer;
    box-shadow: 0 0 0 1px #58ffbb;
}

.settingsDeactive
{
    border: solid 1px rgb(206, 69, 69);
    color: rgb(206, 69, 69);
    cursor: pointer;
    box-shadow: 0 0 0 1px rgb(206, 69, 69);
}

.settingsDisabled
{
    color: #bcbcbc;
    cursor: default;
    border-color: #bdbdbd;
    box-shadow: 0 0 0 1px #1d1d1d;
    -moz-box-shadow: 0 0 0 1px #1d1d1d;
    -webkit-box-shadow: 0 0 0 1px #1d1d1d;
    background: #222;
    background: -moz-linear-gradient(top,#272727,#121212);
    background: linear-gradient(to bottom,#272727,#121212);
}



#overlayBack
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 900;
}
