#settingsWindow
{
    height: 311px;
    width: 558px;
    padding: 50px 30px;
    background-image: url('https://i.imgur.com/3o9UhOm.png');
    display: block;
    position: absolute;
    left: 375px;
    top: 150px;
    z-index: 999;
    color: #612d04;
    font: 600 16px Arial;
}

#settingsVersion
{
    position: absolute;
    top: 20px;
    left: 530px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 30px;
}

#settingsHeader
{
    display: block;
    padding-top: 20px;
    letter-spacing: 2px;
}

#settingsContent
{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 25% 8% 8% 8% 8%;
    width: 100%;
}

.settingsButton
{
    border: solid 1px red;
}
