#autoGoButton
{
    height: 27px;
    width: 150px;
    margin-right: 2px;
    cursor: pointer;
    border: none;
    color: #58ffbb;
    float: left;
    background-image: url('https://i.imgur.com/20OoeBD.png')
}


#settingsWindow
{
    height: 511px;
    width: 538px;
    padding: 50px 40px;
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/settings.png');
    display: block;
    position: absolute;
    left: 375px;
    top: 150px;
    z-index: 999;
    color: #612d04;
    font: 600 16px Arial;
}

#settingsLanguage
{
    position: absolute;
    top: 20px;
    right: 62px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 30px;
    cursor: default;
}

#settingsLanguage img
{
    cursor: pointer;
    border: 1px solid #612d04;
}

#settingsHeader
{
    display: block;
    padding-top: 20px;
    letter-spacing: 2px;
}

#settingsContent
{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 180px 130px 130px;
    width: 100%;
}

.settingsHeaderBig
{
    margin: 3px 0px;
}

.settingsHeaderSmall
{
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}

.settingsSubcontent
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 0px;
    padding: 0px 22px;
}

.settingsButton
{
    border: solid 1px #e9d2a0;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin: 0px 3px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #8e753f;
    font-size: 13px;
    background: #390301;
    background: -moz-linear-gradient(top,#c3ab6f,#886933);
    background: linear-gradient(to bottom,#c3ab6f,#886933);
}

.settingsButton:hover
{
    background: linear-gradient(to bottom, #C3AB6F, #DACFA2);
    cursor: pointer;
}

.settings_box.active .settingsButton.active {
    border: solid 1px #44dc46;
    cursor: pointer;
}

.settings_box.inactive .settingsButton.active {
    border: solid 1px #ea1414;
    cursor: pointer;
}

.quest-type {
    background-size: contain;
    height: 31px;
    width: 31px;
    margin: 0px 2px;
}

.quest-type:hover {
    background-size: contain;
    filter: brightness(1.2);
}

.quest-type.combat {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_combat_inactive.jpg')
}

.quest-type.combat.active {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_combat_active.jpg')
}

.quest-type.arena {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_arena_inactive.jpg')
}

.quest-type.arena.active {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_arena_active.jpg')
}

.quest-type.circus {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_grouparena_inactive.jpg')
}

.quest-type.circus.active {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_grouparena_active.jpg')
}

.quest-type.expedition {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_expedition_inactive.jpg')
}

.quest-type.expedition.active {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_expedition_active.jpg')
}

.quest-type.dungeon {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_dungeon_inactive.jpg')
}

.quest-type.dungeon.active {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_dungeon_active.jpg')
}

.quest-type.items {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_items_inactive.jpg')
}

.quest-type.items.active {
    background-image: url('https://raw.githubusercontent.com/ebodziony/gladiatus-script/master/assets/icon_items_active.jpg')
}

#overlayBack
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 900;
}
